@font-face {
  font-family: "RedHatText-Bold";
  src: url("../public/font/RedHatText-Bold.woff");
}
@font-face {
  font-family: "RedHatText-Light";
  src: url("../public/font/RedHatText-Light.woff");
}
@font-face {
  font-family: "RedHatText-Medium";
  src: url("../public/font/RedHatText-Medium.woff");
}
@font-face {
  font-family: "RedHatText-Regular";
  src: url("../public/font/RedHatText-Regular.woff");
}
.App {
  text-align: center;
  display: flex;
}
.App section{
  flex: 2;
  padding: 40px;
}
@media screen and (max-width:905px) {
  .App section{
    padding: 40px 20px;
  }
}
@media screen and (max-width:669px) {
  .App section{
    flex:1
  }
  
}


